body {
    background-color: blanchedalmond;
    font-family: 'sans-serif', 'arial', ;
}

h1 {
    text-align: center;
}

img {
    display: block;
    width: 30%;
    margin: auto;
}

a {
    display: block;
    margin: 50px 20px;
    text-decoration: none;
}

a:hover {
    color: black;
}